.Switch {
  &__Box {
    display: flex;
    align-items: center;
    position: relative;
    outline: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 24px;
    cursor: pointer;
    user-select: none;
    background: #0f1114;
    border-radius: 24px;
    transition: all 0.4s ease;

    &:after {
      position: relative;
      left: 1px;
      display: block;
      content: "";
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }

    &:focus:after {
      box-shadow: 0 0 2px 3px #ffa7c4;
    }

    > span {
      display: flex;
      &:first-child {
        position: absolute;
        left: 4px;
      }
      &:last-child {
        position: absolute;
        right: 4px;
      }
    }
  }
  &__Label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  &__Input {
    display: none;
    &,
    &:after,
    &:before,
    & *,
    & *:after,
    & *:before,
    & + div {
      box-sizing: border-box;
      &::selection {
        background: none;
      }
    }

    &:checked {
      + div:after {
        left: 27px;
      }
    }
  }
}
